<header class="header">
    <div class="container">
        <a href="#" class="header__logo" aria-label="логотип">
            <svg width="60" height="63">
                <use xlink:href="images/sprite.svg#logo"></use>
            </svg>
        </a>
    </div>
    <div class="hamburger"><span></span><span></span><span></span></div>
    <div class="btn-back"></div>
    <div class="header__top">
        <div class="container">
            <div class="header__top-inner">
                <ul class="header__menu">
                    <li class="header__menu-item"><a href="#about" class="header__menu-link">О нас</a></li>
                    <li class="header__menu-item"><a href="#offers" class="header__menu-link">Услуги</a></li>
                    <li class="header__menu-item"><a href="#price" class="header__menu-link">Стоимость</a></li>
                    <li class="header__menu-item"><a href="#blog" class="header__menu-link">Блог</a></li>
                    <li class="header__menu-item"><a href="#team" class="header__menu-link">Команда</a></li>
                    <li class="header__menu-item"><a href="#contacts" class="header__menu-link">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header__content">
        <div class="container">
            <div class="header__content-inner">
                <h1 class="maintitle">WAWE</h1>
                <p class="maintitle__descr">Школа серфинга на канарских Островах</p>
                <a href="#footer" class="header__content-icon">
                    <svg width="20" height="69" role="img">
                        <title>Вниз</title>
                        <use xlink:href="images/sprite.svg#header-icon"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>