<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Primary Meta Tags -->
	<title>WAWE</title>
	<meta name="title" content="WAWE" />
	<meta name="description" content="Школа серфинга на канарских Островах" />

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://wawe.alexandrusovich.ru" />
	<meta property="og:title" content="WAWE" />
	<meta property="og:description" content="Школа серфинга на канарских Островах" />
	<meta property="og:image" content="https://wawe.alexandrusovich.ru/images/header-bg.jpg" />

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:url" content="https://wawe.alexandrusovich.ru" />
	<meta property="twitter:title" content="WAWE" />
	<meta property="twitter:description" content="Школа серфинга на канарских Островах" />
	<meta property="twitter:image" content="https://wawe.alexandrusovich.ru/images/header-bg.jpg" />

	<link rel="apple-touch-icon" sizes="57x57" href="images/favicons.ico/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicons.ico/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicons.ico/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicons.ico/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicons.ico/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicons.ico/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicons.ico/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicons.ico/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicons.ico/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="images/favicons.ico/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicons.ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicons.ico/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicons.ico/favicon-16x16.png">
	<link rel="manifest" href="images/favicons.ico/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/favicons.ico/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="css/main.min.css">
</head>